@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.fs-5 {
    position: relative;
    top: 2px;
}

.del-margin {
    margin-left: 0px !important;
    margin-bottom: 0px !important;
}

.lh-80 {
    line-height: 130%;
}

.grey {
    color: #aaa;
}

.card {
    margin-bottom: 10px;
}

.selector {
    min-width: 30em !important;
}

.alias-selector {
    padding-top: 3px;
    padding-bottom: 3px;
}

hr {
    margin-top: 18px;
    margin-bottom: 1px;
}

.btn-light {
    border-color: #d8d8d8;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    margin-left: 1%;
    margin-right: 1%;
}