<?php

require dirname(__DIR__).'/vendor/autoload.php';

use LampSchool\Tests\Support\Installer;

$installer = new Installer(
    'mysql host',               # <REQUIRED> change me..
    'mysql database name',      # <REQUIRED> change me..
    'mysql database user',      # <REQUIRED> change me..
    'mysql database password',  # <REQUIRED> change me..
    '',
    'adminlamp',
    'admin-password',           # <REQUIRED> change me..
    '',
    'I.T.I.S. Alan Turing'
);


echo "Inizio installazione LAMPSchool...\n\n";

echo "L\'installazione richiederà diversi minuti, attendere...\n\n";

try {
    $installer->run();
}catch (\Exception $exception){
    echo $exception->getMessage() . "\n\n";

}

echo "Installazione terminata...\n\n";