<?php

require dirname(__DIR__).'/vendor/autoload.php';

use LampSchool\Tests\Support\Installer;

$installer = new Installer(
    'mysql host', # change me..
    'mysql database name', # change me..
    'mysql database user',
    'mysql database password', # change me..
    '',
    '',
    'password', # change me..
    '',
    'I.T.I.S. Alan Turing'
);


echo "Inizio installazione LAMPSchool...\n\n";

echo "L\'installazione richiederà diversi minuti, attendere...\n\n";

try {
    $installer->run();
}catch (\Exception $exception){
    echo $exception->getMessage() . "\n\n";

}

echo "Installazione terminata...\n\n";